<div id="page-home">
    <div id="section-search">
        <md-autocomplete
            class="search"
            md-no-cache="true"
            md-selected-item="vm.selectedItem"
            md-items="repository in vm.querySearch(vm.searchText)"
            md-search-text="vm.searchText"
            md-item-text="repository.name"
            md-min-length="0"
            placeholder="Search repository by name, description or language">
            <md-item-template>
                <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{repository.name}}</span>
            </md-item-template>
        </md-autocomplete>
    </div>

    <div class="repositories">
        <div class="order-by">
            <md-select class="select" placeholder="Order by" ng-model="vm.propertyName" ng-if="vm.querySearch(vm.searchText).length > 1">
                <md-option class="option" ng-repeat="propertyName in vm.propertyNames" value="{{propertyName.slug}}">{{propertyName.name}}</md-option>
            </md-select>
        </div>
        <div ng-cloak ng-repeat="repository in vm.querySearch(vm.searchText) | orderBy: vm.propertyName" class="repository">
            <a class="headline-wrapper" ng-href="#!/repository/{{ repository.name }}">
                <h3 class="headline">{{ repository.name }}</h3>
            </a>
            <h4 class="subhead" ng-if="repository.description">{{ repository.description }}</h4>
            <div class="infos">
                <span class="language {{ repository.language | slugify }}" ng-if="repository.language" title="Language">{{ repository.language }}</span>
                <div class="counts">
                    <span class="forks" ng-if="repository.forks_count" title="Forks">{{ repository.forks_count }}</span>
                    <span class="stars" ng-if="repository.stargazers_count" title="Stargazers">{{ repository.stargazers_count }}</span>
                    <span class="watchers" ng-if="repository.watchers_count" title="Watchers">{{ repository.watchers_count }}</span>
                </div>
                <div class="dates">
                    <span class="created" ng-if="repository.created_at">{{ repository.created_at | date: "dd MMM yyyy" }}</span>
                    <span class="updated" ng-if="repository.updated_at">{{ repository.updated_at | date: "dd MMM yyyy" }}</span>
                </div>
            </div>
        </div>
        <h3 ng-cloak class="not-found" ng-if="vm.querySearch(vm.searchText).length <= 0 && vm.searchText">
            Could not found any project using '{{ vm.searchText }}'.
        </h3>
    </div>
</div>
